#menu ul li { display: inline-block;
font-size: 22px;
text-decoration: none;
font-family: URW Palladio;
margin-top:20px;
margin-right:10px}

#menu {background-color:#EFAD00;
border-radius:10px;
padding-bottom:2px;
}

#menu ul li a {text-decoration:none;
padding:5px;
border-radius:5px;
color:#444400}

#menu ul li a:hover{text-decoration:underline;}