li {margin-top:20px;
}
ul{list-style-type:circle;
text-align:center}
a {text-decoration: none;
border-width:2px;
border-style:solid;
border-color:black;
color:red;
font-size:40px;
background-color: yellow ;
}

body {background-image: linear-gradient(red, yellow);}