h1 {text-align:center;
margin-bottom:30px;
margin-top:50px;
font-family:Verdana}

img {display:block;
margin-left:auto;
margin-right:auto}

input {display:block;
margin-left:auto;
margin-right:auto;
border-radius:30px}

button {display:block;
margin-left:auto;
margin-right:auto;
--padding:20px 50px;
height:130px;
width:240px;
margin-top:40px;
background-color:CCDDFF;
font-family:system-ui;
font-size:30px;
border-radius:10px}

input:hover {background-color:#DDDDFF}
input:focus {background-color:#DDDDFF}

h4 {text-align:center;
font-family:Georgia,serif}

p {text-align:center;
text-decoration:underline;
text-decoration-color:red;
 color:red;)}

body {background-color:#1050FF;color:white}

a {color:#1050FF}

a:hover{color:#DDDDFF}

#succes {display:block;
margin-left:auto;
margin-right:auto;
text-align:center;
text-decoration:none;
padding-top:44px ;
padding-bottom:44px;
margin-top:40px;
width:240px;
background-color:CCDDFF;
font-family:system-ui;
font-size:30px;
border-radius:10px;
color:black}

#succes:hover {color:black;
	border-radius:20px}